{% extends '/index/index.html.twig' %}

{% block title %}Hello MentionController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/presentation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bouton.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    
{% endblock %}

{% block body %}

<div class="header">  
  <div class="header__logo">
    <img src="{{ asset('img/logo.png') }}" alt="Logo" class="logo">
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__link"><i data-feather="home"></i><span>Accueil</span> </a>
      </li>
      <li class="navbar__item">
        <a href="/presentation" class="navbar__link"><i data-feather="message-square"></i><span>Présentation</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/certification" class="navbar__link"><i data-feather="users"></i><span>Certifications</span></a>        
      </li>
      <li class="navbar__item">
        <a href="#/competence" class="navbar__link"><i data-feather="folder"></i><span>Compétences</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/veille" class="navbar__link"><i data-feather="archive"></i><span>Veille technologique</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/projet" class="navbar__link"><i data-feather="help-circle"></i><span>Mes projets</span></a>        
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__link"><i data-feather="settings"></i><span>[Mon compte]</span></a>        
      </li>
    </ul>
  </nav>
</div>

<h1>Mentions Légales</h1>
<p>Merci de lire avec attention les différentes modalités d'utilisation du présent site avant d'y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément à l'article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l'économie numérique, les responsables du présent site internet <a href="mettre lien">mettre lien</a>.</p>

<h2>Editeur du site</h2>
<p><strong>M. Vincent Gamblin</strong><br>
Email : gamblinvincent50@gmail.com<br>
Site Web : <a href="#">mettre lien</a></p>

<h2>Hébergement</h2>
<p>Hébergeur : 91 Rue du Faubourg Saint-Honoré, 75008 Paris (FRANCE)<br>
Site Web : <a href="https://www.alwaysdata.com/fr/">https://www.alwaysdata.com/fr/</a></p>

<h2>Développement</h2>
<p><strong>M. Vincent Gamblin</strong><br>
Site Web : <a href="mettre lien">mettre lien</a></p>

<h2>Conditions d'utilisation</h2>
<p>Ce site <a href="mettre lien">mettre lien</a> est proposé en différents langages web (HTML5, Javascript, CSS, etc...) pour un meilleur confort d'utilisation et un graphisme plus agréable. Nous vous recommandons de recourir à des navigateurs modernes. M. Vincent Gamblin met en œuvre tous les moyens pour assurer une information fiable et une mise à jour fiable de son site. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute doit donc s'assurer de l'exactitude des informations auprès de M. Vincent Gamblin et signaler toute modification du site qu'il jugerait utile. M. Vincent Gamblin n'est en aucun cas responsable de l'utilisation faite de ces informations, ni de tout préjudice direct ou indirect pouvant en découler.</p>

<h2>Liens hypertextes</h2>
<p>Les sites internet peuvent offrir des liens vers d'autres sites ou ressources disponibles sur Internet. M. Vincent Gamblin ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet, ne répond pas de la disponibilité de tels sites et sources externes. Les utilisateurs, abonnés et visiteurs des sites internet ne peuvent pas mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de M. Vincent Gamblin. Pour demander la mise en place d'un hyperlien, il suffit d'envoyer un email accessible sur le site. M. Vincent Gamblin se réserve le droit d'accepter ou de refuser un hyperlien sans en justifier la décision.</p>

<h2>Services fournis</h2>
<p>M. Vincent Gamblin s'efforce de fournir sur le site <a href="mettre lien">mettre lien</a> des informations aussi précises que possible. Cependant, les renseignements figurant sur le site ne sont pas exhaustifs et peuvent être modifiés sans préavis.</p>

<h2>Limitation contractuelle sur les données</h2>
<p>Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour régulièrement, mais il peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune ou erreur, veuillez le signaler par email à l'adresse allan.biville@outlook.fr. Tout contenu téléchargé se fait aux risques de l'utilisateur, et M. Vincent Gamblin ne peut être tenu responsable de dommages ou de perte de données. De plus, l'utilisateur s'engage à accéder au site en utilisant un matériel récent et sécurisé.</p>

<h2>Propriété intellectuelle</h2>
<p>Tout le contenu de ce site (graphismes, images, textes, vidéos, animations, sons, logos, gifs, icônes) est la propriété exclusive de M. Vincent Gamblin, à l'exception des marques, logos ou contenus appartenant à d'autres partenaires. Toute reproduction, distribution ou modification est interdite sans l'accord écrit de M. Vincent Gamblin. Cette reproduction constitue une contrefaçon sanctionnée par les articles du Code de la propriété intellectuelle.</p>

<h2>Litiges</h2>
<p>Les présentes conditions sont régies par les lois françaises. Tout litige est soumis à la compétence exclusive des tribunaux français. La langue de référence pour le règlement de contentieux est le français.</p>

<h2>Données personnelles</h2>
<p>En général, vous n'êtes pas tenu de communiquer vos données personnelles lorsque vous visitez le site <a href="mettre lien">mettre lien</a>. Toutefois, ce principe comporte certaines exceptions. Nous pouvons collecter certaines informations pour des statistiques internes, telles que les zones visitées, l'adresse IP et le type de navigateur.</p>



  

{% endblock %}
